---
layout: landing
title: Home
---

<div class="ui vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <a href="/storytelling">
          <div class="ui icon header">
            <center><img class="ui tiny image" src="/img/icons/Wand-icon.png" alt="Wand"></center>
            Storytelling
          </div>
          </a>
          <p>Captivating and compelling stories for all ages</p>
        </div>
        <div class="column">
          <a href="/staff-development">
          <div class="ui icon header">
            <center><img class="ui tiny image" src="/img/icons/book-icon.png" alt="book"></center>
            Staff Development   
          </div>
          </a>
          <p>Educating your staff through engaging entertainment</p>
        </div>
        <div class="column">
          <a href="/speaking-engagements">
          <div class="ui icon header">
            <center><img class="ui tiny image" src="/img/icons/mic-icon.png" alt="Mic"></center>
            Speaking Engagements 
          </div>
          </a>
          <p>Inspiring and informative ways to reach your audience</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment black-shine-gradient">
  <div class="ui stackable page grid">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui inverted header">Story Time Encourages Education through Entertainment</h3> 
        <h4 class="slim-header-light">
        Vivian Harris, M.B.A is an Albuquerque, NM based storyteller and public speaker. Vivian’s colorful and engaging presentations bring a fun, new dimension to storytelling and staff development.
           
        </h4>
        <h4 class="ui inverted header">
        Storytelling and training programs can be designed for private events, organizations, businesses, non-profit groups and just about anyone who believes that education should be entertaining as well!
        </h4>
        <!--<h4 class="ui inverted header">
        Create a culture of fun and understanding at home and in the office.
        </h4>-->
      </div>
      <div class="eight wide column">
        <img class="ui rounded image" src="/img/vivian-photo-horizonal.png" alt="Vivian Harris">       
      </div>
    </div>
  </div>
</div>

<!--
<div class="ui feature vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="teal mobile icon"></i>
            Hybrid Apps
          </div>
          <p>Responsive theme supporting multiple devices with one code base. Design once, publish anywhere.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="teal bug icon"></i>
            Live Tests
          </div>
          <p>Travis CI integrated. BrowserSync ready. Lint JS, CSS on build. HTML proofing planned.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="teal rocket icon"></i>
            Speed Optimized
          </div>
          <p>PageSpeed Insights built-in. Images optimized in build. CSS, JS minified. Selective JS includes.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui inverted vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui five column center aligned stackable inverted divided grid">
        <div class="column">
          <a class="ui small teal inverted statistic" href="/apps/">
            <div class="value">
              <i class="cube icon"></i> {{ site.categories.app | size  }}
            </div>
            <p class="label">
              Single Page Apps
            </p>
          </a>
        </div>
        <div class="column">
          <a class="ui small teal inverted statistic pagebar" href="#">
            <div class="value">
              <i class="content icon"></i> {{ site.pages | size  }}
            </div>
            <div class="label">
              Templates
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small teal inverted statistic" href="/embeds/">
            <div class=" value">
              <i class="wizard icon"></i> {{ site.data.embeds | size }}
            </div>
            <div class="label">
              Reusable Embeds
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small orange inverted statistic" href="{% post_url /blog/2014-12-15-content-strategy-for-startup-websites %}">
            <div class="text value">
              One Minute
            </div>
            <div class="label">
              Content Workflow
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small teal inverted statistic" href="/category/#theme">
            <div class="value">
              <i class="student icon"></i> {{ site.categories.theme | size  }}
            </div>
            <div class="label">
              Theme Tutorials
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment">
  <div class="ui centered page stackable divided grid">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          Browse OpenTheme Content
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">

        <h3 class="ui header">Tags</h3>
          {% include site-tags.html %}

      </div>

      <div class="eight wide column">

        <h3 class="ui header">Categories</h3>
          {% include site-categories.html %}

      </div>

    </div> <!- /row ->
  </div>
</div>
-->
