<div class="ui inverted footer vertical segment">
  <div class="ui stackable six column centered grid">
    <div class="column">
     <center>
      <h5 class="ui inverted header">About</h5>
      <div class="ui inverted link list">
        <a class="item" href="/about/">Vivian Harris</a>
        <a class="item" href="/storytelling/">Storytelling</a>
        <a class="item" href="/staff-development/">Staff Development</a>
        <a class="item" href="/speaking-engagements/">Speaking Engagements</a>
      </div>
    </center>
  </div>
  <div class="column">
   <center>
     <h5 class="ui inverted header">Social</h5>
     <div class="ui inverted link list">
      <a class="item" href="https://facebook.com/{{ site.facebok_username }}"><i class="facebook icon"></i> Facebook</a>
      <a class="item" href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="linkedin icon"></i> LinkedIn</a>
     </div>
    </center>
  </div>
    <div class="column">
    <center>
     <h5><a class="ui inverted header" href="/contact/">Contact</a></h5>
      <addr>
        123 Your Address Here <br>
        NM, Albuquerque <br>
     </addr>
      <p>(505) 323-7571</p>
      <a href= "{{ site.email }}"> Harrisvivian8@gmail.com</a>
    </center>
    </div>
  </div>
</div>
<div class="ui center aligned segment copyright">
  <i class="world icon"></i> Copyright &copy; {{ site.time | date: "%Y" }}, {{ site.copyright }}.
</div>