<div class="ui vertical segment teal-back">
  <div class="ui centered grid white-text">
    <div class="column">
      <div id="quote"></div>
      <script>
        (function() {
          var quotes = [
            {
              text: "She is very motivational she helped me a lot. This text makes this testimonial a bit longer so we can see how it looks.",
              sig: "-Rick Sanchez"
            },
            {
              text: "I loved this so much it was really awesome.",
              sig: "-George Costanza"
            },
            {
              text: "A very short testimonial",
              sig: "-Loren Brooks"
            }
          ];
          var quote = quotes[Math.floor(Math.random() * quotes.length)];
          document.getElementById("quote").innerHTML =
            '<center>' + 
            '<i>' + quote.text + '</i>' +
            '<br>'+
            '<p>' + quote.sig + '</p>' +
            '<center>';
        })();
      </script>
    </div>
  </div>
  <div class="ui stackable six column centered grid">
    <div class="column">
      <center>
        <h5 class="ui header white-text">About</h5>
        <div class="ui inverted link list">
          <a class="item" href="/about/">Vivian Harris</a>
          <a class="item" href="/speaking-engagements/">Speaking Engagements</a>
          <a class="item" href="/storytelling/">Storytelling</a>
          <a class="item" href="/staff-development/">Staff Development</a>
        </div>
      </center>
    </div>
    <div class="column">
      <center>
        <h5 class="ui header white-text">Contact</h5>
        <p class="white-text">(505) 323-7571<br>
        {{site.email}}</p>
      </center>
    </div>
  </div>
</div>
<div class="ui center aligned segment copyright">
  <i class="world icon"></i> Copyright &copy; {{ site.time | date: "%Y" }}, {{ site.copyright }}.
</div>