<div class="ui vertical segment teal-back">
  <div class="ui centered grid white-text">
    <div class="column">
      <div id="quote"></div>
      <script>
        (function() {
          var quotes = [
            {
              text: "Your style of teaching was very easy to follow and the exercises were fun and helpful…you did an amazing job and we all enjoyed your delightful demeanor.",
              sig: "-Catherine Aragon-Marquez/Catholic Charities- Center for Community Involvement"
            },
            {
              text: "Your speech was informative and inspirational. We hope to see you again.",
              sig: "-Loretta Micek/River of Hope Civitan Club"
            },
            {
              text: "I really enjoyed Vivian. She as easy to follow and understand…One of my favorite speakers this year.",
              sig: "-Participant feedback from “Resilience: Bouncing Back from Adversity” seminar"
            },
            {
              text: "…well-prepared speaker with a message!",
              sig: "-Resilience: Bouncing Back from Adversity"
            },
            {
              text: "It was a pleasure meeting you and hearing your presentation. Very well done.",
              sig: "-Margaret Speer/Technology Ventures Corporation"
            }
          ];
          var quote = quotes[Math.floor(Math.random() * quotes.length)];
          document.getElementById("quote").innerHTML =
            '<center>' + 
            '<i>' + quote.text + '</i>' +
            '<br>'+
            '<p>' + quote.sig + '</p>' +
            '<center>';
        })();
      </script>
    </div>
  </div>
  <div class="ui stackable six column centered grid">
    <div class="column">
      <center>
        <h5 class="ui header white-text">About</h5>
        <div class="ui inverted link list">
          <a class="item" href="/about/">Vivian Harris</a>
          <a class="item" href="/speaking-engagements/">Motivational Speeches</a>
          <a class="item" href="/storytelling/">Storytelling</a>
          <a class="item" href="/staff-development/">Professional Development</a>
        </div>
      </center>
    </div>
    <div class="column">
      <center>
        <h5 class="ui header white-text">Contact</h5>
        <p class="white-text">(505) 323-7571<br>
        {{site.email}}</p>
      </center>
    </div>
  </div>
</div>
<div class="ui center aligned segment copyright">
  <i class="world icon"></i> Copyright &copy; {{ site.time | date: "%Y" }}, {{ site.copyright }}.
</div>