<!-- masthead -->
<div class="ui masthead segment blue-round-gradient">
  <div class="ui one column centered padded grid">
  {% include menu.html %}
  </div>
  <div class="ui page grid">
    <div class="column">

        <div class="ui grid">
          <div class="three wide column">
            <img class="ui middle aligned small right floated image" src="/img/star-wand.png" alt="Star Wand">
          </div>
          <div class="thirteen wide column">
            <h1 class="ui middle aligned inverted header">{{ site.tagline }}</h1>
            <div class="row">
            <h2 class="slim-header-light">{{ site.description }}</h2>   
            </div>
          </div>
        </div>          
    </div>
  </div>
</div>
<!-- /masthead -->
