<!-- masthead -->
<div class="ui masthead segment blue-round-gradient">
  <div class="ui page grid">
    <div class="column"> 
      {% include menu.html %}
      <h1 class="header-3d header-3d-center">{{ site.tagline }}</h1>      
    </div>
  </div>      
  <div class="ui grid">
    <div class="six wide column">
    </div>
    <div class="one wide column">
      <img src="/img/wand.png" alt="Wand" style="width:45px;height:75px;">
    </div>
    <div class="seven wide column">
      <h2 class="slim-header-light">{{ site.description }}</h2>
    </div>
    <div class="two wide column">
    </div>
  </div> <!-- .row -->
</div>
<!-- /masthead -->