<!-- masthead -->
<div class="ui masthead segment blue-round-gradient">
  <div class="ui page grid">
    <div class="column"> 
        {% include menu.html %}
        <img class="ui rounded image" src="/img/wand.png" alt="Wand" style="width:45px;height:75px;">
        <h1 class="header-3d header-3d-center">{{ site.tagline }}</h1>      
          <div class="row">
            <div class="column">
              <center>
              <h2 class="slim-header-light">{{ site.description }}</h2>
              </center>
            </div>
          </div> <!-- .row -->
    </div>
  </div>
</div>
<!-- /masthead -->
