<!-- masthead -->
<div class="ui masthead segment blue-round-gradient">
  <div class="ui page grid">
    <div class="column">
        <font face="dearest_openregular">
        <h1 class="ui inverted header">Harris and associates</h1>
        </font>
        {% include menu.html %}
        
        <!-- information -->
        <div class="ui information">
          <h1 class="ui inverted header">{{ page.title }}</h1>
          <h2 class="slim-header-light">{{ page.description }}</h2>
        </div> 
        <!-- /information -->
    </div>
  </div>
</div>
<!-- /masthead -->
