<div class="ui compact menu">
  <a class="header item" href="/">Harris and Associates</a>
  
  <div class="right menu">
    <a class="item menu-details {% if page.title == 'Storytelling' %}active{% endif%}" href="/storytelling/">Storytelling</a>
    <a class="item menu-details {% if page.title == 'Staff Development' %}active{% endif%}" href="/staff-development/">Staff Development</a>
    <a class="item menu-details {% if page.title == 'Speaking Engagements' %}active{% endif%}" href="/speaking-engagements/">Speaking Engagements</a>
    <a class="item menu-details {% if page.title == 'About' %}active{% endif%}" href="/about/">About</a>
    <a class="item menu-details {% if page.title == 'Contact' %}active{% endif%}" href="/contact/">Contact</a>
    <!--<div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>-->
    {% if site.pagebar %}
  <a class="mobile item pagebar" href="#"><i class="icon content"></i></a>
    {% endif %}
  </div>
</div>  
