{% include head.html %}

{% if page.title == 'Home' %}
<meta name="description" content="Harris & Assoc. |Enchanting storytelling and motivational speeches that educate through entertainment| Call 505.323.7571">
<meta name="keywords" content="Storytelling">
{% endif %}

{% if page.title == 'Storytelling' %}
<meta name="description" content="Harris & Assoc. |Enchanting storytelling that educates and entertains everyone from school-aged children to senior citizens| Call 505.323.7571">
<meta name="keywords" content="Storytelling">
{% endif %}

{% if page.title == 'Professional Development' %}
<meta name="description" content="Harris & Assoc. |Workshops on professional development and leadership skill-building designed to educate through entertainment| Call 505.323.7571">
<meta name="keywords" content="Professional Development">
{% endif %}

{% if page.title == 'Motivational Speeches' %}
<meta name="description" content="Harris & Assoc. |An unconventional approach to motivational speeches that inspire and educate through entertainment| Call 505.323.7571">
<meta name="keywords" content="Motivational speech,motivational speeches">
{% endif %}

{% if page.title == 'About' %}
<meta name="description" content="Harris & Assoc. |A professional storyteller and motivational speaker dedicated to educating and inspiring through fun and entertainment.| Call 505.323.7571">
<meta name="keywords" content="Storyteller,speaker">
{% endif %}

</head>

<link rel="stylesheet" href="/css/fonts/dearestopen_regular_macroman/stylesheet.css">
<body class="global landing">

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% if site.facebook %}
        {% include fb-setup.html %}
        {% endif %}

        {% if site.pagebar %}
        {% include page-bar.html %}
        <div class="pusher">
          {% endif %}
          {% if page.title == 'Home' %}
          {% include home-header.html %}
          {% else %}
          {% include landing-header.html %}
          {% endif %}
          <!--<div class="ui padded grid">
            <div class="computer only three wide column quote">
              <h4>Testimonials</h4>
              <p>
                <i>I loved this so much it was really awesome.</i><br>
                -George Costanza
              </p>
              <p>
                <i>She is very motivational she helped me a lot. This text makes this testimonial a bit longer so we can see how it looks.</i><br>
                -Rick Sanchez
              </p>
              <p>
                <i>A very short testimonial</i><br>
                -Loren Brooks
              </p>
            </div>
            {% if page.title == 'Home' %}
            <div class="column">
              {% else %}
              <div class="column starback">
                {% endif %}-->
                {{ content }}
              <!--</div>
            </div>-->
            {% include footer.html %}
            {% if site.pagebar %}
          </div>
          {% endif %}


          {% include js.html %}
          {% include embed-google-analytics.html %}
        </body>

        </html>
